<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Calc Test">

    <test name="All_Test">
        <groups>
            <run>
                <include name="smoke" />
                <include name="div-group" />
                <include name="diff-group" />
                <include name="sum-group" />
                <include name="mult-group" />
            </run>
        </groups>
        <packages>
            <package name="com.stc.tests.*" />
        </packages>
    </test>

</suite>